/* Color */
.championsOfItaly {
    color: rgb(0, 77, 0);
}
.championsLeague {
    color: green;
}
.europaLeague {
    color: red;
}
.conferenceLeague {
    color: rgb(72, 184, 221);
}
.relegation {
    color: darkred;
}